 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks list</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <ul class="navbar">
        <li class="navbar_item"><a class="active" href="/">Home</a></li>
        <li class="navbar_item"><a href="">Task List</a></li>
        <li class="navbar_item"><a href="/working">New Feature</a></li>
        <li class="navbar_item"><a href="/about">About</a></li>
    </ul>
    <h4><a href="/">Go Home</a></h4>
    <h2>Tasks list:</h2>
    <ul>
        {%for task in tasks %}
            <li>
                {{task.title}},
                Completed:
                <input type="checkbox" checked="checked">{{task.completed}}
            </li>
        {%empty%}
            <li>No tasks</li>
        {%endfor%}
    </ul>
    <h2><a href="/task/add">Add a task</a></h2>
    
</body>
</html>